body {
    overflow: auto;
}

.host-select {
    float: left;
    margin-top: 10px;
    /*background-color: grey;*/
}

.select-label{
    margin-top: 40px;
    width: 90%;
    margin-left: 5%;
    background-color: white;
    height: 50px
}

select {
    /*margin-top: 40px;*/
    height: 20px;
    padding: 0;
    font-size: 10px;
    border-radius: 2px;
    outline: none;
    border: 0;
    border-bottom: 1px solid lightgrey;
    color: darkgrey;
}

input {
    outline: none;
    height: 20px;
    width: 50px;
    padding: 0;
    font-size: 10px;
}

button {
    margin-left: 20px;
    outline: none;
    height: 22px;
    width: 50px;
    padding: 0;
    font-size: 10px;
    color: white;
    background-color: #286090;
    border: 1px solid #286090;
    border-radius: 2px;
}

.host-label-first {
    text-align: center;
    border: 1px solid #005cbf;
    border-radius: 2px;
    color: white;
    background-color: #005cbf;
}

.host-label {
    margin-left: 50px;
    text-align: center;
    border: 1px solid #005cbf;
    border-radius: 2px;
    color: white;
    background-color: #005cbf;
}

.host-input {
    border: 0;
    border-bottom: 1px solid lightgrey;
    width: 150px;
}

tr {
    width: 100%;
}

td {
    border: 0;
    border-bottom: 1px solid whitesmoke;
    height: 55px;
    font-size: 12px;
    color: grey;
    padding-left: 25px;
}

.host-title {
    font-size: 14px;
    border-bottom: 2px solid lightgrey;
    color: black;
}

.title-label {
    background-color: whitesmoke;
}

