<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Prometheus</title>
  <link rel="shortcut icon" href="{{ pathPrefix }}/static/img/favicon.ico?v={{ buildVersion }}">
  <link type="text/css" rel="stylesheet" href="{{ pathPrefix }}/static/css/login.css?v={{ buildVersion }}">
  <script src="{{ pathPrefix }}/static/js/login.js?v={{ buildVersion }}"></script>
  <script src="{{ pathPrefix }}/static/js/jquery/jquery-2.1.1.js"></script>
</head>
<body>

<div>

  <img style=""  src="../static/img/logo.png">
  <div class="div_form">

    <div style="margin-top: 8%;">
      <label>Username</label><br/>
      <input id="username" type="text" value=""/>
    </div>

    <div style="margin-top: 3%;">
      <label>Password</label><br/>
      <input id="password" type="password" value=""/>
    </div>

    <div style="margin-top: 8%;">
      <label class="status-login"></label><br/>
      <button type="button" onclick="login()">Sign in</button>
    </div>

  </div>
</div>
</body>
</html>